
.navBar {



}

.navBar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    display: inline-block;
}

.navBar li {
    float: left;
    padding: 0 0.5em;
    border-right: 1px solid #ddd;
}

.navBar li:last-child {
    border-right: none;
}

.navBar a {

}

.navBar a.active {
    font-weight: bold;
}
